@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --p-font: clamp(0.8rem, 2vw, 1rem);
  --head-font: clamp(1.2rem, 5vw, 3rem);
  --secondary-font: clamp(1.1rem, 3vw, 1.3rem);
  --h3s-font: clamp(0.6rem, 2vw, 0.9rem);
  --h2s-font: clamp(2rem, 3vw, 2.4rem);
  --main-bg: #faecec;
  --card-bg: #f6d9d9;
  --primary: #d64545;
  --trans-bg: rgba(52, 52, 52, 0.169);
  --bg: #f2f2f2;
}

* {
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.navbar .smallMenu.active {
  display: flex;
}
.navbar .smallMenu.close {
  animation: slideOut 0.4s ease;
}
body {
  position: relative;
  color: black;
  font-family: "poppins", sans-serif;
}

.navbar {
  background-color: var(--main-bg);
  padding: 20px 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.navbar a {
  color: black;
}
.navbar .logo {
  width: clamp(70px, 15vw, 100px);
}
.logo img {
  display: block;
  width: 100%;
}
/*  menu for small devices */
.navbar .smallMenu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  display: none;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: var(--trans-bg);
  backdrop-filter: blur(5px);
  padding-top: 30px;
  animation: slideIn 0.4s ease;
}
@keyframes slideIn {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
.navbar .menuToggle {
  background: none;
  border: none;
  padding: 0;
  display: none;
}
.menuToggle img {
  display: block;
  width: clamp(60px, 15vw, 50px);
}
/* ////////////////// */
.navbar .links {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(5px, 2vw, 30px);
}
.navbar li {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.navbar li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: all 0.2s ease;
}
.navbar li:hover::after {
  width: 100%;
}
.navbar li a {
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-decoration: none;
}
/* ///////////////////////////// */

.heroSection {
  padding: 50px 0px;
  margin-bottom: 8vw;
  background-color: var(--main-bg);
}
.hero {
  border: 1px solid #33333325;
  background-color: var(--card-bg);
  margin: auto;
  width: clamp(260px, 90vw, 2000px);
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.heroInfo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 45%;
}
.heroInfo h1 {
  font-weight: 500;
  font-size: var(--head-font);
}
.heroInfo p {
  font-size: var(--p-font);
}
.heroBtn {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}
.menuBtn {
  border: 1px solid #3333330a;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  background-color: var(--primary);
}
.reBtn {
  padding: 10px 20px;
  border: 1px solid #33333371;
  background: none;
}
.heroImg {
  width: 50%;
}
.heroImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ////////////////////// */
.whyUsSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  padding: 0px 50px;
  margin-bottom: 8vw;
}
.whyUsSection h4 {
  font-size: var(--h3s-font);
}
.whyUsSection h2 {
  font-size: var(--h2s-font);
  font-weight: 300;
}
.whyUsSection p {
  font-size: var(--p-font);
  margin-bottom: 60px;
}
.ourPerks {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
}
.ourPerks h1 {
  font-size: var(--secondary-font);
  font-weight: 500;
  margin: 10px 0px;
}
.ourPerks h3 {
  font-size: var(--h3s-font);
  font-weight: 700;
}
.ourPerks p {
  margin-bottom: 20px;
}
.quality {
  display: flex;
  width: clamp(260px, 40%, 800px);
  border: 1px solid #d9d9da;
}
.speed,
.value {
  border: 1px solid #d9d9da;
  width: clamp(260px, 25%, 490px);
  height: auto;
}

.qualityInfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.qualityInfo,
.speedInfo,
.valueInfo {
  background-color: var(--bg);
  padding: 20px;
}
.learnMore {
  font-weight: 600;
  text-decoration: none;
  color: black;
  transition: all 0.5s linear;
}
.learnMore span {
  margin-left: 8px;
}
.learnMore:hover {
  font-weight: 700;
}
.learnMore:hover span {
  margin-left: 10px;
}

.speedImg,
.valueImg {
  width: 100%;
  height: clamp(300px, 20vw, 400px);
}
.ourPerks img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* small devices below 630px wide */
@media (max-width: 630px) {
  .navbar .links {
    display: none;
  }
  .navbar .menuToggle {
    display: block;
  }
  .hero {
    height: auto;
    gap: 50px;
    flex-direction: column;
  }
  .heroInfo,
  .heroImg {
    width: 100%;
  }
  .heroImg {
    height: 250px;
  }
  .ourPerks {
    flex-flow: column;
    align-items: center;
  }
  .quality {
    flex-flow: column;
    /* width: 90%; */
  }
  /* .speed,
  .value {
    width: 90%; 
  } */
}
